{% extends 'blog/base.html' %}

{% block title %}Share Post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail Enviado comSucesso!</h1>
        <p>
            {{ post.title }} foi enviado para {{ form.cleaned_data.to }}
        </p>
    {% else %}
        <h1>Share "{{ post.title }}" by e-mail!</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Enviar E-mail">
        </form>
    {% endif %}
{% endblock %}